.vscode/**
.vscode-test/**
src/**
out/test/**
.editorconfig
.gitattributes
.github/**
.gitignore
**/*.map
**/*.ts
**/.vscode-test.*
**/eslint.config.mjs
.prettierrc
**/tsconfig.json
*.vsix
node_modules/**
